@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {

    text-align: center;

    & i {
        font-size: 6rem;
        margin: 0;
        position: relative;
        top: 20rem;
    }

    &__logo {
        margin: 0;
        font-size: 12rem;
        padding: 1rem;
        position: relative;
        top: 0rem;

        & a {
            color: v.$negro;
        }
    }

    @include m.tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 12rem;

        & i {
            font-size: 3rem;
            top: 0;
            margin: 0 0 1rem 2rem;
        }

        &__logo {
            font-size: 7rem;
            margin-left: 1rem;

        }
    
        &:hover {
            .header-menu {
                display: flex;
                flex-direction: column;
            }
        }
    }


}
