@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {
    min-height: 55rem;
    background-image: linear-gradient(to right, rgba(0,0,0, 0.4), rgba(0,0,0, 0.4)),image-set(url(../img/velas02.avif) 1x, url(../img/velas02.webp) 1x, url(../img/velas02.png) 1x);

    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;

    &__contenedor {
        @include m.contenedor;
    }

    &__contenido {
        padding-top: 10rem;
        @include m.tablet {
            padding-top: 5rem;
        }
    }

    &__logo {
        font-size: 15rem;
        text-align: center;
        color: v.$principal;
        margin-bottom: 0;
        @include m.tablet {
            @include m.texto-fluido(15rem, 30rem);
        }
    }

    &__texto {
        text-align: center;
        color: v.$blanco;
        margin: 0;
        @include m.tablet {
            @include m.texto-fluido(1rem, 2.2rem);
        }
    }
}