@use 'base/variables' as v;
@use 'base/mixins' as m;

.header {

    text-align: center;

    & i {
        font-size: 6rem;
        margin: 0;
        position: relative;
        top: 23rem;
    }

    &__logo {
        margin: 0;
        margin-top: 3rem;
        font-size: 12rem;
        padding: 1rem;
        position: relative;
        top: 0rem;

        & a {
            color: v.$negro;
        }
    }

    &-session {
        display: flex;
        flex-direction: column;
        text-align: center;
        font-size: 2.5rem;
        position: absolute;
        margin: 0 auto;
        padding: 1rem;
        width: 100%;
        top: 0;

        & a {
            color: v.$negro;
            font-family: v.$fuente-secundaria;
            margin-bottom: 1.5rem;
            padding: 0.5rem;
            text-align: center;
            border: none;

            &:hover {
                color: v.$blanco;
                background-color: v.$negro;
            }
        }
    }

    &__form {
        input {
            border: none;
            font-size: 2.5rem;
            font-family: v.$fuente-secundaria;
            background-color: v.$blanco;
            padding: 0.5rem;
            width: 100%;
            margin-bottom: 1.5rem;

            &:hover {
                color: v.$blanco;
                background-color: v.$negro;
            }

        }
    }


    @include m.tablet {
        display: flex;
        flex-direction: row;
        align-items: center;
        position: relative;
        width: 12rem;

        & i {
            font-size: 3rem;
            top: 0;
            margin: 0 0 1rem 2rem;
        }

        &__logo {
            font-size: 7rem;
            margin-left: 1rem;
            margin-top: 0;

        }

        &-session {
            flex-direction: row;
            position: absolute;
            align-items: center;
            text-align: right;
            width: 35rem;
            height: 10rem;
            right: 0;

            & a {
                width: 17rem;
            }
        }
    
        &:hover {
            .header-menu {
                display: flex;
                flex-direction: column;
            }
        }
    }


}
